body{
    background-color:lightgray;
}

.navbar-brand{
    font-family:'Rock Salt';
}
.col-md-4{
    background-color:white;
    width:300px;
    margin: 0px 50px 50px 0px;
}
.container{
    background-color;lightgray;
}

div#songTable{
    width:100%;
}

div#songLeftCont{
    padding:15;
    align:center;
    width:90%;
    background-color:white;
}
div.songLeft{
    float:left;
    width:30%;
}
button#editbtn{
    height:26;
}
span#btnlogin{
    background-color:#00CC00;
}

button#deletebtn{
    height:26;
}
.form-horizontal{
    background-color:white;
    padding:10;
}
div.songRightCont{
    background-color:white;
    padding:20;
}
div.songRight{
    float:right;
    width:70%;
}

/*  whole page */
div#contain{

    width:100%;
    height: 100%;
}

/* panel right*/
div.panel-body-log{
    width:90%;
    padding:20;
}
/* whole right */
#login{
    width:40%;
    float:right;
}


/* panel left */
div.panel-body-reg{
    padding:10;
    padding-left:50;
    width:85%;
    height:60%;
}

/* whole left */
#register{

    float:left;
    width:60%;
}

h2#index-header{
 font-family:'Bahiana'
}