{% extends 'music/base.html' %}
{% block title %}Login{% endblock %}
 <!-- LoGIN -->
{% block body %}
    <div id="login">
        <div class="panel-body-log">
            <form class="form-horizontal" method="post">
                <h2>Login</h2>
                {% csrf_token %}
               <!-- <h4>Username: <input type="text" placeholder="Username..."/></h4>
                <h4>Password: &nbsp;<input type="password" placeholder="********"/></h4>-->
                {{ form.as_p }}

                <br>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}