<nav>
        <a routerLink="/">
          <img src="media/04.png" class="icon" />
        </a>
        <a routerLink="/Movies">
          <img src="media/03.png" class="icon" />
        </a>
        <a routerLink="/Series">
          <img src="media/02.png" class="icon" />
        </a>
      </nav>
<section>
    <header>
        <h1> Angular App </h1>
        <p class="description">
            Keeping track of the media I want to 
            watch.
        </p>
    </header>
    <!-- Router Outlet checks matches-->
    <router-outlet></router-outlet>
  <!--
    <mw-media-item-form></mw-media-item-form>
    <mw-media-item-list></mw-media-item-list>
  -->
    
    <!--
    <mw-media-item
     [mediaItem] = "firstMediaItem"
     (delete)="onMediaItemDelete($event)">
    </mw-media-item>
    -->
</section>