{% extends 'music/base.html' %}
{% block title %}Create User{% endblock %}


{%block body%}
<div id="contain">

    <!-- Register -->
    <div id="register">
        <div class="panel-body-reg">
            <form class="form-horizontal" action="" enctype="multipart/form-data" method="post">
                <h2>Create User Account</h2>
                {% csrf_token %}
                {% include 'music/form-template.html' %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- LoGIN -->
    <div id="login">
        <div class="panel-body-log">
            <form class="form-horizontal" action="{% url 'music:login' %}" method="post">
                <h2>Login</h2>
                {% csrf_token %}
                <h4>Username: <input type="text" placeholder="Username..."/></h4>
                <h4>Password: &nbsp;<input type="password" placeholder="********"/></h4>

                <br>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}