<!DOCT TYPE>
<html>
<head>
    <!-- EJS = EMBEDDED JAVA SCRIPT-->
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <% include templates/header.ejs %>
    <h1> About </h1>
    <p> THIS IS THE ABOUT PAGE</p>
  </body>

</html>